
@import url("https://fonts.google.com/specimen/Vollkorn");
@import url("https://coolors.co/1c110a-ffffff-938ba1-d65108-1d3557");


/*
    .home-head{
        width: 100%;
        background-color: #1d3557;
        display: flex;
    }
    .top-nav{
        margin-left: 670px;
        margin-top: 100px;
        cursor: pointer;
        
    }
    .top-nav a{
        font-size: 20px;
        color: #d65108;
    }
    .logo-img{
        width: 200px;
        height: 150px;
        border-radius: 50%;
    }
      
    .container{
        width: 350px;
        height: 400px;
        margin: 80px 50px auto auto;
        border: 3px solid black;
        border-radius: 10px;
        float: right;
        align-content: center;
        justify-content: center;
    }
    .top-container{
        width: 500px;
        height: 540px;
        margin: auto auto auto 100px; 
        display: flex;
        flex-direction: column;
        float: left;
    }
    .count-down{
        display: flex;
        justify-content: space-between;
    }
    
    .container-day, .container-hour, .container-minute, .container-second{
        border: 1px solid black;
        border-radius: 10%;
        width: 100px;
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
    }
    
    .container-img{
        width: 350px;
        height: 150px;
        margin-bottom: 30px;
        border-radius: 10px;
    }
      
    input {
        width: 80%;
        margin-bottom: 20px;
    }
      
    .but1{
        color: var(--primary-color);
        background: transparent;
        font-weight: 500;
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
        margin: 0;
        position: absolute;
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    .but1:hover{
        background-color: #d65108;
        color: white;
    }
    body{
        background-image: url("images/mads-schmidt-rasmussen-6YmzwamGzCg-unsplash.jpg");
    }
    
    .register-btn{
        background-color: transparent;
        color: #1d3557;
        border: 2px solid black;
        border-radius: 5%;
        width: 210px;
        height: 50px;
        margin-top: -5px;
    }
*/



/* This is the CSS for the home page*/
.home-head{
    width: 100%;
    background-color: #1d3557;
    display: flex;
}
.top-nav{
    margin-left: 670px;
    margin-top: 100px;
    cursor: pointer;
    
}
.top-nav a{
    font-size: 20px;
    color: #d65108;
}
.logo-img{
    width: 200px;
    height: 150px;
    border-radius: 50%;
}
  
.container{
    width: 350px;
    height: 400px;
    margin: 80px 50px auto auto;
    border: 3px solid black;
    border-radius: 10px;
    float: right;
    align-content: center;
    justify-content: center;
}
.top-container{
    width: 500px;
    height: 540px;
    margin: auto auto auto 100px; 
    display: flex;
    flex-direction: column;
    float: left;
}
.count-down{
    display: flex;
    justify-content: space-between;
}

.container-day, .container-hour, .container-minute, .container-second{
    border: 1px solid black;
    border-radius: 10%;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.container-img{
    width: 350px;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 10px;
}
  
input {
    width: 80%;
    margin-bottom: 20px;
}
  
.but1{
    color: var(--primary-color);
    background: transparent;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
.but1:hover{
    background-color: #d65108;
    color: white;
}
body{
    background-image: url("images/mads-schmidt-rasmussen-6YmzwamGzCg-unsplash.jpg");
}

.register-btn{
    background-color: transparent;
    color: #1d3557;
    border: 2px solid black;
    border-radius: 5%;
    width: 210px;
    height: 50px;
    margin-top: -5px;
}

/* This is the CSS for the pervious Webinar*/
#pre_main{
    display: grid;
    align-items: center;
    justify-items: center;
}

.web img{
    width: 400px;
    height: 300px;
    border-radius: 49%;
    
}
  
.web h3, p{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    margin-top: 5px;
}
.web{
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    background-color: darkblue;
    color: white;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5%;
    cursor: pointer;
    margin-top: 30px;
}
.top{
    background-color: #1d3557;
    
}
.top img{
    width: 250px;
    height: 200px;
    margin: 0 auto 0s 500px;
}
  
/* This is the CSS for the upcoming Webinar*/
#up_main{
    margin: auto;
    display: grid;
    align-items: center;
    justify-items: center;
}
  
.dev img{
    width: 400px;
    height: 300px;
    border-radius: 49%;
}
  
.dev h3, p{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
  
.dev button {
    background-color: transparent;
    color: black;
    font-size: 20px;
    width: 180px;
    height: 50px;
    border: 2px solid black;
    border-radius: 2%;
    cursor: pointer;
    margin: 10px auto 40px 30%;
}
.dev button:hover{
    color:#d65108;
    background-color: #1d3557;
}

.foot{
    display: flex;
    background-color: #d65108;
}

.head{
    background-color: #1d3557;
    text-align: center;
    height: 50px;
    margin-bottom: 30px;
}

.socials{
    margin-left: 800px;
}

@media screen and (max-width:767px) {
    .container {
        width: 90%;
        margin: 80px auto auto auto;
    }

    .top-container {
        width: 90%;
        margin: auto auto auto 5%;
    }
}